body {
	background: teal;

	div.homeLinks {
		text-align: center;
	}

	a.homeContent {
		padding-left: 1em;
		color: #fff;
	}

	a.homeContent:hover {
		color: orange;
	}

	.homeHeader {
		text-align: center;
		color: #fff;
	}
}