.postsList {
	margin-bottom: 1em;
}

.postsHeader1 {
	color: #fff;
	text-align: center;
	margin-bottom: 2em;
}

a.postsList {
	color: #fff;
	text-align: center;
}

a.postsList:hover {
	color: orange;
	text-decoration: none;
}