.postsHeader1 {
	color: #fff;
	text-align: center;
	margin-bottom: 2em;
}

a.postsList {
	color: #fff;
	text-align: center;
}

a.postsList:hover {
	color: orange;
	text-decoration: none;
}

form {
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-bottom: 2em;
	color: orange;
}

section {
	text-align: center;
	color: orange;
}
