.viewPostsComponent {

	div.viewPostsList {
		color: #fff;
		text-align: center;
	}

	div.viewPostsList:hover {
		color: orange;
	}

	.viewPostsHeader1 {
		color: #fff;
		text-align: center;
	}

	.viewPostsHeader2 {
		color: #fff;
		text-align: center;
		margin-bottom: 2em;
	}
}