body {
  background: teal; }
  body div.homeLinks {
    text-align: center; }
  body a.homeContent {
    padding-left: 1em;
    color: #fff; }
  body a.homeContent:hover {
    color: orange; }
  body .homeHeader {
    text-align: center;
    color: #fff; }

.postComponent .postInput {
  margin-top: 1em; }

.postComponent .postTextArea {
  margin-top: 1em;
  height: 20em;
  width: 20em; }

.postComponent .postHeader1 {
  color: #fff;
  text-align: center; }

.postComponent .postHeader2 {
  text-align: center;
  color: #fff; }

.postComponent .postSelect {
  margin-top: 1em;
  width: 11em; }

.postComponent #postButton {
  background: yellow;
  color: green;
  font-weight: bold;
  border: none;
  margin-top: 1em;
  -webkit-border-radius: 0.5em;
  width: 10em; }

.postComponent #postButton:hover {
  color: #fff;
  background: blue; }

.postComponent select.postSelect {
  -webkit-appearance: none;
  -webkit-border-radius: 0em;
  color: #A9A9A9;
  line-height: 1.75; }

#bs-example-navbar-collapse-1 {
  background: blue; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-default .navbar-brand {
  color: #fff; }

div.navbar-header {
  background: blue; }

.navbar-default .navbar-toggle {
  border-color: #fff; }

.navbar-default .navbar-toggle .icon-bar {
  background: #fff; }

.navbar-default .navbar-nav > li > a:hover {
  color: orange; }

.navbar-default .navbar-brand:hover {
  color: orange; }

.navbar-default .navbar-toggle:hover {
  background: orange; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: orange; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: orange; }

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: orange; }

.postsHeader1 {
  color: #fff;
  text-align: center;
  margin-bottom: 2em; }

a.postsList {
  color: #fff;
  text-align: center; }

form {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 2em;
  color: orange; }

section {
  text-align: center;
  color: orange; }

.viewPostsComponent div.viewPostsList {
  text-align: center; }

.viewPostsComponent .viewPostsHeader1 {
  color: #fff;
  text-align: center; }

.viewPostsComponent .viewPostsHeader2 {
  color: #fff;
  text-align: center;
  margin-bottom: 2em; }

.viewPostsComponent a.postLink {
  color: #fff; }

.viewPostsComponent a.postLink:hover {
  color: orange;
  text-decoration: none; }

.registerComponent .registerHeader {
  text-align: center;
  color: #fff; }

.registerComponent .registerInput {
  margin-top: 1em; }

.registerComponent .registerButton {
  background: yellow;
  color: green;
  font-weight: bold;
  border: none;
  margin-top: 1em;
  -webkit-border-radius: 0.5em;
  width: 10em; }

.registerComponent .registerButton:hover {
  color: #fff;
  background: blue; }

.loginComponent .loginHeader {
  text-align: center;
  color: #fff; }

.loginComponent .loginInput {
  margin-top: 1em; }

.loginComponent .loginButton {
  background: yellow;
  color: green;
  font-weight: bold;
  border: none;
  margin-top: 1em;
  -webkit-border-radius: 0.5em;
  width: 10em; }

.loginComponent .loginButton:hover {
  color: #fff;
  background: blue; }
